    </body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="/semantic.min.js"></script>
    <% if (typeof socketSpace !== 'undefined') { %>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io('/<%- socketSpace -%>');
    </script>
    <% } %>
    <script src="/js/main.js"></script>
</html>