<div class="ui divided relaxed list">
</div>
<div class="note__form ui fluid action input" name="note__form-<%= id -%>">
    <input type="text" name="note-<%= id -%>" data-message-count="1" data-entry="<%= id -%>" maxlength="180" value="">
    <button class="note__submit ui button">
      Send
    </button>
  </div>