<div class="total" data-score-label="<%= label -%>" data-score-value="0" data-score-id="<%= id -%>">
    <div class="total__label">
        <%= label -%>
    </div>
    <div class="total__score">
        <p class="total__value">0</p>
    </div>
</div>