<%- include ('../parts/common/header') %>
    <div class="ui top fixed menu main-menu">
        <h1>404: Page not found</h1>
    </div>
    <div class="main">
        <p>Sorry. This page was not found.</p>
    </div>
<%- include ('../parts/common/footer') %>