<%- include ('../parts/common/header') %>
    <div class="ui top fixed menu main-menu">
        <div class="ui container">
            <h1>Eurosong</h1>
        </div>
    </div>
    <div class="main ui container">
        <div class="ui top attached tabular menu">
            <div class="active item" data-tab="join-room">Join a room</div>
            <div class="item" data-tab="create-room">Create a room</div>
        </div>
        <div class="ui bottom attached active tab segment" data-tab="join-room">
            <p>Enter a room code and your display name.</p>
            <%- include ('../parts/form/join', { errors: joinErrors } ) %>
        </div>
        <div class="ui bottom attached tab segment" data-tab="create-room">
            <p>Create a new room for you and your pals to join.</p>
            <%- include ('../parts/form/create', { errors: createErrors }) %>
        </div>
    </div>
<%- include ('../parts/common/footer', { socketSpace: 'login' }) %>